@using TMDT.Services
@model List<TMDT.Models.Product>

@{
	ViewData["Title"] = "Search";
	ProductImageService _productImageService = new ProductImageService();
	CategoryService _categoryService = new CategoryService();
	var _lstCate = _categoryService.GetAllCategories().Select(c => c.Name);
}
<div class="row">
	<center>
		<h1><b>Tìm kiếm</b></h1>
	</center>
	@if (Model == null || Model.Count() > 0)
	{
		<center class="mb-3">
			<span>Có <b>@Model.Count()</b> kết quả hợp lệ cho từ khóa <b>"@ViewBag.keySearch"</b></span>
		</center>

		<div class="row">
			@foreach (var x in Model)
			{
				string img = _productImageService.GetAllProductImages().Where(c => c.ProductId == x.ProductId).OrderBy(c => c.Id).Select(c => c.Url).FirstOrDefault();
				<div class="col-md-3 mb-3">
					<a asp-action="DetailProduct" asp-route-productId="@x.ProductId" style="text-decoration:none;color:black">
						<div class="card">
							<img src="/images/@img" alt="" />
							<div class="card-body">
								<h5 class="card-title"
									style="white-space: nowrap;
										   overflow: hidden;
										   text-overflow: ellipsis;">
									@x.Name
								</h5>
								<h5 class="card-text" style="color:red"><b>@(x.LastPrice)$</b></h5>
							</div>
						</div>
					</a>
				</div>
			}
		</div>
	}
	else
	{
		<center class="mb-3">
			<h2 style="font-size:16px">Không tìm thấy kết quả phù hợp với từ khóa <b>"@ViewBag.keySearch"</b>. Vui lòng nhập từ khóa khác và thử lại!</h2>
		</center>
		<div style="display:flex;justify-content:center;">
			<div style="width:60%">
				<center>
					<form asp-controller="Home" asp-action="SearchProduct" enctype="multipart/form-data">
						<div class="input-group mb-3">
							<input type="text" class="form-control" placeholder="Search" name="search" required>
							<button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
						</div>
					</form>
				</center>
			</div>
		</div>
	}
</div>
